#seccion1{
    background-image: url(../img/fondopagos.jpg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}
.parala{
    background: fixed no-repeat ;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.logo{
    
    height: 10rem;
    width: 8rem;
    
}
.redes{
    display: flex;
    justify-content: center;
    margin: 20px;

}
.mainstart{
    background-image: url(../img/fondomadera2.jpg);
    
}
.mainend{
    background-image:url(../img/fondomadera2.jpg);

}
.fondo1{
    background-image:url(../img/fondomadera2.jpg);
    
}
.contact{
    background-image: url(../img/fondomadera2.jpg);
}