.titulo{
    font-family: 'Joan', serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Oswald', sans-serif;
}
body p{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Joan', serif;
    font-family: 'Lexend', sans-serif;
}
h2{
    font-family: 'Joan', serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Oswald', sans-serif;
    border: solid 2px;
}
header nav ul li{
    font-size: 18px;
}
.buscanos{
    text-align: center;
    margin-top: 1cm;
}
.textfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    text-align: center;
}




